<div class="sidenav" hide-xs>
    <h2 class="nav-journals-title">{{journal.title}}</h2>
    <hr class="nav-title-divider">
    <button mat-raised-button class="edit-journal action-button"
            (click)="openEditJournalDialog(journal._id['$oid'], journal.title, journal.content, journal.date)">
        Edit Journal
    </button>
    <button mat-raised-button class="delete-journal action-button"
            (click)="deleteJournal(journal._id['$oid']); backClicked()">
        Delete Journal
    </button>
</div>
<div class="journal" hide-xs>
    <button (click)="backClicked()">Go back</button>
    <mat-card class="journal-card">
        {{journal.title}}
        {{journal.content}}
    </mat-card>
</div>

<div class="journal-mobile" hide-gt-xs>
    <div class="mobile-top-info">
        <div class="mobile-back">
            <button mat-icon-button (click)="backClicked()"><mat-icon>arrow_back</mat-icon></button>
        </div>
        <div class="mobile-title">
            <h2>{{journal.title}}</h2>
        </div>

        <p class="mobile-date">{{journal.date | date : "MMM d, yyyy 'at' h:mm a"}}</p>


        <mat-divider></mat-divider>
    </div>

    <div class="mobile-content">
        {{journal.content}}
    </div>

    <button class="mobile-edit" (click)="openEditJournalDialog()" mat-fab color="primary"><mat-icon>edit</mat-icon></button>


</div>
