<form #newGoalForm="ngForm" class="new-object-form">
    <mat-card-title class="new-object-title">New Goal</mat-card-title>

        <mat-form-field hintLabel="Max 45 characters">
            <input matInput #input maxlength="45"
                   required class="nameField"
                   placeholder="What is your goal?"
                   [(ngModel)]="data.goal.name"
                   name="data.name.category">
        </mat-form-field>
        <mat-select matInput required class="category-list"
                    [(ngModel)]="data.goal.category"
                    placeholder="Category"
                    name="data.goal.category">
            <mat-option value="Business/Career">Business/Career</mat-option>
            <mat-option value="Family">Family</mat-option>
            <mat-option value="Finances">Finances</mat-option>
            <mat-option value="Fun and Recreation">Fun and Recreation</mat-option>
            <mat-option value="Health">Health</mat-option>
            <mat-option value="Personal Development">Personal Development</mat-option>
            <mat-option value="Romance">Romance</mat-option>
            <mat-option value="Spiritual">Spiritual</mat-option>
            <mat-option value="Social">Social</mat-option>
            <mat-option value="Other">Other</mat-option>
        </mat-select>
        <mat-select matInput required class="frequency-list"
                    [(ngModel)]="data.goal.frequency"
                    placeholder="Frequency"
                    name="data.goal.frequency">
            <mat-option value="Does not repeat">Does not repeat</mat-option>
            <mat-option value="Daily">Daily</mat-option>
            <mat-option value="Weekly">Weekly</mat-option>
            <mat-option value="Monthly">Monthly</mat-option>
        </mat-select>
        <mat-form-field>
            <input matInput #input class="purposeField"
                   hintLable="Max 100 characters"
                   maxlength="100"
                   placeholder="What is the purpose?"
                   [(ngModel)]="data.goal.purpose"
                   name="data.goal.purpose">
        </mat-form-field>
        <mat-form-field class="end">
            <input
                #input
                class="endDate"
                matInput [matDatepicker]="end"
                placeholder="Choose an End Date"
                [(ngModel)]="data.goal.end"
                name="data.goal.end">
            <mat-datepicker-toggle class="endButton" matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #end></mat-datepicker>
        </mat-form-field>
    <div class="button-options">
        <button mat-raised-button
                id="confirmAddGoalButton"
                class="submit"
                [mat-dialog-close]="data.goal"
                [disabled]="!newGoalForm.form.valid"
                type="button">Submit
        </button>
        <button mat-raised-button
                id="exitWithoutAddingButton"
                (click)="onNoClick()">Cancel
        </button>
    </div>
</form>


