@import "theme";
/* You can add global styles to this file, and also import other style files */


.mat-dialog-container {
    margin: auto;
}

.mat-drawer-container {
    background-color: #e3f2fd;
}

/*prevents clicking forward on mat stepper steps*/
.mat-horizontal-stepper-header{
    pointer-events: none !important;
}
