@import "theme";
/* You can add global styles to this file, and also import other style files */


.mat-dialog-container {
    margin: auto;
}


.arial *{
    font-family: Arial, Helvetica, sans-serif;
}

.verdana *{
    font-family: Verdana, Geneva, sans-serif;
}
.times-new-roman *{
    font-family: "Times New Roman", Times, serif;
}
.comic-sans *{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.panda {
    height: 100vh;
    background-color: #e3f2fd;
    .content{
        background-color: #e3f2fd;
        *{
            .sidenav {
                background-color: #546E7A;
            }
        }
    }

    .mat-toolbar{
        background-color: #1976D2;
    }
    form{
        background-color: #FFFFFF;
    }
    .mat-card{
        background-color: #FFFFFF;
    }
    .mat-stepper-horizontal{
        background-color: #FFFFFF;
    }

    .alt-color{
        color: white;
    }
}

.windows95 {
    height: 100vh;
    background-color: #008080;
    .content{
        background-color: #008080;
        *{
            .sidenav {
                background-color: #B0B0B0;
            }
        }

    }

    .mat-toolbar{
        background-color: #808080;
    }
    form{
        background-color: #E0E0E0;
    }
    .mat-card{
        background-color: #E0E0E0;
    }
    .mat-stepper-horizontal{
        background-color: #E0E0E0;
    }

    .alt-color{
        color: white;
    }
}

.christmas2018 {
    height: 100vh;
    background-color: #4CAF50;
    .content{
        background-color: #4CAF50;
        *{
            .sidenav {
                background-color: #0caf07;
            }
        }
    }

    .mat-toolbar{
        background-color: #25700e;
    }
    form{
        background-color: #F44336;
    }
    .mat-card{
        background-color: #F44336;
    }
    .mat-stepper-horizontal{
        background-color: #F44336;
    }

    .alt-color{
        color: white;
    }
}

.aesthetic {
    height: 100vh;
    background-color: #FFC3DA;
    .content{
        background-color: #FFC3DA;
        *{
            .sidenav {
                background-color: #fce3f6;
            }
        }
    }

    .mat-toolbar{
        background-color: #ccfdff;
    }
    form{
        background-color: #84F3D6;
    }
    .mat-card{
        background-color: #84F3D6;
    }
    .mat-stepper-horizontal{
        background-color: #84F3D6;
    }

    .alt-color{
        color: white;
    }
}





/*prevents clicking forward on mat stepper steps*/
.mat-horizontal-stepper-header{
    pointer-events: none !important;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

//every submit button green background color
.submit {
    background-color: #E8F5E9;
}

//for new object dialogs
.new-object-title {
    text-align: center;
}

.new-object-form {
    display: flex;
    flex-direction: column;
}

.new-object-form > * {
    width: 100%;
}

.button-options {
    text-align: center;
}

//for journals & goals sidenavs
.sidenav {
    height: 100%;
    width: 275px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
    //background-color: #546E7A;
}

.new-object-button {
    width: 50%;
    margin-bottom: 15px;
}

.new-object-button:hover {
    background-color: #C8E6C9;
}

.page-title {
    margin: 15px;
    color: white;
    font-size: 34px;
}

//for journals & goals page content and cards
.grid-list {
    margin-left: 275px;
}

.break-word {
    word-wrap: break-word;
}

