.close-button {
    margin: 10px;
}

.card-footer {
    text-align: right;
}

.close-button-div {
    text-align: center;
}

.panda {
    height: auto;
}

.card-footer {
    background-color: white;
}

.mat-D-content {
    background-color: white;
}
