.your-summaries-title {

    text-align: center;
}

mat-card.filtering.mat-card {
    text-align: center;
}

.top {
    padding:0.5%;
    text-align: center;
}

.filtering{
    width: 99%;
}

.graphFilter{
    padding: 1%;
}

.filterButton{
    text-align: center;
    background-color: lightblue;
}

#Chart{
    background-color: #ffffff;
}

.selected{
    background-color: #bebebe;
}

.deselected{
    box-shadow: 0px 1px 3px grey;

}


*{
    text-align: center;
}
