<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card id="filtering">
            <div class="top" id="filterCard">

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                <h3><i>Filtering:</i></h3>

            <div id="filterContents">
            <form>
                <!--# The Angular feature-->
                <label> Emotion:</label>

                <mat-select name="dropdown" id="summaryMood"
                            #input placeholder="Filter by Mood"
                            [(ngModel)]="summaryMood">
                    <mat-option id ="dropdownAllMoods" selected value="All">All Emotions</mat-option>
                    <mat-option id ="dropdownHappy" value="Happy">Happy</mat-option>
                    <mat-option id ="dropdownSad" value="Sad">Sad</mat-option>
                    <mat-option id ="dropdownMeh" value="Meh">Meh</mat-option>
                    <mat-option id ="dropdownMad" value="Mad">Mad</mat-option>
                    <mat-option id ="dropdownAnxious" value="Anxious">Anxious</mat-option>
                </mat-select>
            </form>

                <br>

                <form>
                    <label> Intensity: </label>
                    <mat-select name="dropdownInt" id="summaryInt"
                                #input placeholder="Filter by Intensity"
                                [(ngModel)]="summaryIntensity">
                        <mat-option id="dropdownAll" selected value="All">All</mat-option>
                        <mat-option id="dropdown1" value="1">1</mat-option>
                        <mat-option id="dropdown2" value="2">2</mat-option>
                        <mat-option id="dropdown3" value="3">3</mat-option>
                        <mat-option id="dropdown4" value="4">4</mat-option>
                        <mat-option id="dropdown5" value="5">5</mat-option>
                    </mat-select>
                </form>

                <mat-form-field class="start">
                    <input
                        id = "startDate"
                        matInput [matDatepicker]="start"
                        placeholder="Choose a Start Date"
                        [(ngModel)]="startDate"
                        (input)="startDate = $event.target.value"
                        disabled>
                    <mat-datepicker-toggle id = "startButton" matSuffix [for]="start" enabled></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #start disabled="false"></mat-datepicker>
                </mat-form-field> &nbsp;

                <mat-form-field class="end">
                    <input
                        id = "endDate"
                        matInput [matDatepicker]="end"
                        placeholder="Choose an End Date"
                        [(ngModel)]="endDate"
                        (input)="endDate = $event.target.value"
                        disabled>
                    <mat-datepicker-toggle id = "endButton" matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #end disabled="false"></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button id="clearDatesButton" (click)="this.clearDateFilter()">Clear Date Filters</button>

            </div>
            </div>

        </mat-card>
        <mat-card id="graphCard">

            <div id="tabs">
            <mat-tab-group #myTabGroup>

                <mat-tab label="Graphs">
                    <div id="graphFilter">
                        <form>
                            <!--# The Angular feature-->
                            <label>Show entries across a day or week?</label>
                            <mat-select name="dropdown" id="labelType"
                                    #input [(ngModel)]="inputType">
                                <mat-option id ="Day" value="day">Day</mat-option>
                                <mat-option id ="Week" value="week" selected>Week</mat-option>
                                <mat-option id ="Month" value="month">Month</mat-option>
                                <mat-option id ="Year" value="year">Year</mat-option>
                            </mat-select>
                        </form>
                        <br>
                        <mat-checkbox [(ngModel)]="limitedPast">Show only entries from the past {{inputType}}</mat-checkbox>
                        <br>
                        <hr>
                        Detailed Graph Options
                        <br>
                        <mat-checkbox [(ngModel)]="colorblindMode">Colorblind Mode</mat-checkbox>
                        <br>
                        <mat-radio-group [(ngModel)]="graphMode">
                        <mat-radio-button value="line">Line Graph</mat-radio-button>
                            |
                        <mat-radio-button value="bar">Stacked Bar Graph</mat-radio-button>
                        </mat-radio-group>
                        <br>
                        <hr>
                        <button mat-raised-button id="filterBarButton" (click)="this.filterSummaries(summaryMood, summaryIntensity, startDate, endDate); updateBasicChart()">Summary Graph</button>
                        <button mat-raised-button id="filterLineButton" (click)="this.filterSummaries(summaryMood, summaryIntensity, startDate, endDate); updateDetailedChart()">Detailed Graph</button>
                        <br>


                    </div>
                    <mat-card> <mat-card-title class="your-summaries-title">Your Emotions</mat-card-title>
                        <mat-card-subtitle class="your-summaries-title">There are {{totalNumberMoods()}} entries represented</mat-card-subtitle>
                    <canvas id="Chart" height="auto"></canvas>
                    </mat-card>

                </mat-tab>

                <mat-tab label="List View">

                    <mat-card> <mat-card-title class="your-summaries-title">Your Emotions</mat-card-title>

                        <mat-card-subtitle class="your-summaries-title">You have {{totalNumberMoods()}} emotions to view</mat-card-subtitle>
                        <mat-accordion *ngIf="summaries && myTabGroup.selectedIndex == 1; else summariesError">
                            <mat-expansion-panel #elem class="summaries" [id]="summary._id" [expanded]="this.isHighlighted(summary)" *ngFor="let summary of this.filterSummaries(summaryMood, summaryIntensity, startDate, endDate)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title id="name">You felt {{summary.mood}} on
                                        {{stringToDate(summary.date).toLocaleDateString()}} at
                                        {{stringToDate(summary.date).toLocaleTimeString()}}</mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-panel-description>Journal entry: {{summary.description}}</mat-panel-description>
                                <mat-panel-description>Intensity: {{summary.intensity}}</mat-panel-description>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <ng-template #summariesError>
                            <mat-error>
                                There was a problem loading the goals. Possibly the server is down or perhaps there are network
                                issues.
                            </mat-error>
                            <mat-error>
                                Please wait a bit and try again or start the server.
                            </mat-error>
                        </ng-template>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
            </div>
        </mat-card>
    </div>
</div>
