.your-summaries-title {

    text-align: center;
}

.top {
    padding:0.5%;
    text-align: center;
}

#filtering{
    width: 99%;
}

#graphFilter{
    padding: 1%;
}

#filterButton{
    text-align: center;
    background-color: lightblue;
}

h3{

}



