<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card class="filtering">
            <div class="top" class="filterCard">

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                <h3><i>Filtering:</i></h3>

            <div class="filterContents">
            <form>
                <!--# The Angular feature-->
                <label> Emotion:</label>

                <mat-select name="dropdown" class="summaryMood"
                            #input placeholder="Filter by Mood"
                            [(ngModel)]="summaryMood">
                    <mat-option class="md-option-0" selected value="All">All Emotions</mat-option>
                    <mat-option class="md-option-1" value="Happy">Happy</mat-option>
                    <mat-option class="md-option-2" value="Sad">Sad</mat-option>
                    <mat-option class="md-option-3" value="Meh">Meh</mat-option>
                    <mat-option class="md-option-4" value="Mad">Mad</mat-option>
                    <mat-option class="md-option-5" value="Anxious">Anxious</mat-option>
                    <!-- mat-option ids autoreplaced by md-option-x anyway -->
                </mat-select>
            </form>

                <br>

                <form>
                    <label> Intensity: </label>
                    <mat-select name="dropdownInt" class="summaryInt"
                                #input placeholder="Filter by Intensity"
                                [(ngModel)]="summaryIntensity">
                        <mat-option class="md-option-6" selected value="All">All</mat-option>
                        <mat-option class="md-option-7" value="1">1</mat-option>
                        <mat-option class="md-option-8" value="2">2</mat-option>
                        <mat-option class="md-option-9" value="3">3</mat-option>
                        <mat-option class="md-option-10" value="4">4</mat-option>
                        <mat-option class="md-option-11" value="5">5</mat-option>
                    </mat-select>
                </form>

                <mat-form-field class="start">
                    <input
                        class= "startDate"
                        matInput [matDatepicker]="start"
                        placeholder="Choose a Start Date"
                        [(ngModel)]="startDate"
                        (input)="startDate = $event.target.value"
                        disabled>
                    <mat-datepicker-toggle class= "startButton" matSuffix [for]="start" enabled></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #start disabled="false"></mat-datepicker>
                </mat-form-field> &nbsp;

                <mat-form-field class="end">
                    <input
                        class= "endDate"
                        matInput [matDatepicker]="end"
                        placeholder="Choose an End Date"
                        [(ngModel)]="endDate"
                        (input)="endDate = $event.target.value"
                        disabled>
                    <mat-datepicker-toggle class= "endButton" matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #end disabled="false"></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button class="clearDatesButton" (click)="this.clearDateFilter()">Clear Date Filters</button>

            </div>
            </div>

        </mat-card>
        <mat-card class="graphCard">

            <div class="tabs">
            <mat-tab-group #myTabGroup>

                <!-- class for mat-tab is overwritten on build -->
                <mat-tab label="Graphs">

                    <h3 class="your-summaries-title">Your Emotions</h3>
                        <h6 class="your-summaries-title">There are {{totalNumberMoods()}} entries represented</h6>
                    <canvas id="Chart" height="auto"></canvas>

                    <div class="graphFilter">
                            <!--# The Angular feature-->
                            <label>Show entries across a day, week, month, or year?</label>
                            <mat-select name="dropdown" class="labelType"
                                        #input [(ngModel)]="inputType">
                                <mat-option class="md-option-12" value="day">Day</mat-option>
                                <mat-option class="md-option-13" value="week" selected>Week</mat-option>
                                <mat-option class="md-option-14" value="month">Month</mat-option>
                                <mat-option class="md-option-15" value="year">Year</mat-option>
                            </mat-select>

                        |
                        <mat-checkbox class="colorblindBox" [(ngModel)]="colorblindMode">Colorblind Mode</mat-checkbox>
                        <br>
                        Show Entries:
                        <mat-radio-group [(ngModel)]="limitedPastString">
                        <mat-radio-button class="pastXYes" value="true" (click)="this.limitedPast = true ; updateDetailedChart()">
                            Only from the past {{inputType}}</mat-radio-button>
                        |
                        <mat-radio-button class="pastXNo" value="false" (click)="this.limitedPast = false ; updateDetailedChart()">
                            Across all time</mat-radio-button>
                        </mat-radio-group>
                        <br>
                        <mat-radio-group [(ngModel)]="graphMode">
                            Graph Type:
                            <mat-radio-button class="barradio" value="bar" (click)="this.graphMode = 'bar' ; updateDetailedChart()">Stacked Bar Graph</mat-radio-button>
                            |
                            <mat-radio-button class="lineradio" value="line" (click)="this.graphMode = 'line' ; updateDetailedChart()">Line Graph</mat-radio-button>
                        </mat-radio-group>
                        <br>

                    </div>

                </mat-tab>

                <mat-tab label="List View">

                    <mat-card> <mat-card-title class="your-summaries-title">Your Emotions</mat-card-title>

                        <mat-card-subtitle class="your-summaries-title">You have {{totalNumberMoods()}} emotions to view</mat-card-subtitle>
                        <mat-accordion *ngIf="summaries && myTabGroup.selectedIndex == 1; else summariesError">
                            <mat-expansion-panel #elem class="summaries" [id]="summary._id" [expanded]="this.isHighlighted(summary)" *ngFor="let summary of this.filterSummaries(summaryMood, summaryIntensity, startDate, endDate)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="name">You felt {{summary.mood}} on
                                        {{stringToDate(summary.date).toLocaleDateString()}} at
                                        {{stringToDate(summary.date).toLocaleTimeString()}}</mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-panel-description>Journal entry: {{summary.description}}</mat-panel-description>
                                <mat-panel-description>Intensity: {{summary.intensity}}</mat-panel-description>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <ng-template #summariesError>
                            <mat-error>
                                There was a problem loading the goals. Possibly the server is down or perhaps there are network
                                issues.
                            </mat-error>
                            <mat-error>
                                Please wait a bit and try again or start the server.
                            </mat-error>
                        </ng-template>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
            </div>
        </mat-card>
    </div>
</div>
