<div class="add-goal" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>Edit Goal</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-form-field>
                    <input matInput #input id="nameField" placeholder="What is your new goal?" [(ngModel)]="data.goal.name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput #input id="categoryField" placeholder="What category is this?" [(ngModel)]="data.goal.category">
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput matTextareaAutosize #input id="purposeField" placeholder="What is the purpose?" [(ngModel)]="data.goal.goal"></textarea>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button="" id="confirmEditGoalButton" [mat-dialog-close]="data.goal" type="button">Edit goal</button>
        <button mat-raised-button id="exitWithoutEditingButton" (click)="onNoClick()" type="button">Exit Without Saving</button>
    </div>
</div>

