.first-sec {
    width: 320px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.goal-title {
    font-size: 32px;
    text-align: center;
}

.goal-content {
    list-style-type: none;
    font-size: 21px;
}

.your-goals-title {
    text-align: left;
    font-size: 32px;
}

.add-icon {
    color: forestgreen;
}

.edit-goal {
    color: #00838F;
}

.edit-goal:hover {
    background-color: #E0F7FA;
}

.goal-complete {
    color: green;
}

.goal-incomplete {
    color: red;
}

.goals-card {
    width: 30%;
    height: 100%;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.card-subtitle{
    text-align: center;
}

.delete-button {
    color: indianred;
}

.complete-button {
    color: limegreen;
}

.goal-name {
    text-align: center;
}

.goals-image {
    float: right;
}

.goals-buttons {
    float: left;
}

.goal-panel{
    width: 100%;
}

.card-goal-title{
    width: auto;
    text-align: center;
    font-size: 200%;
    font-family: inherit;
    padding: 0.5%;
}

.section-title{
    width: auto;
    text-align: center;
    font-size: 200%;
    font-family: inherit;
    padding: 0.5%;
}

.goal-title-div{
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}


.page-scroll-buttons{
    text-align: center;
}

.todays-goals{
    margin: 0 auto;
    width: 100%;
}

.add-icon {
    color: #81C784;
}

