<div class="sidenav" [ngClass]="appService.styleClassSelector()" hide-xs>
    <h2 class="page-title" *ngIf="this.showAllGoals == false"> Today's Goals</h2>
    <h2 class="page-title" *ngIf="this.showAllGoals == true"> All Goals</h2>
    <hr class="nav-title-divider">
    <button mat-raised-button (click)="newGoalDialog()" class="new-object-button" id="addNewGoal">
        New Goal
    </button>
    <mat-card class="all-today-toggle-card">
        <mat-card-content>
            <mat-checkbox class="show-all-goals" (change)="showAllGoals = $event.checked; getNext()">Show all goals</mat-checkbox>
        </mat-card-content>
    </mat-card>
    <mat-card class="option-selector-card">
        <mat-card-title>Status</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <a *ngIf="!showAllGoals">You cannot filter statuses of today's goals.</a>
          <mat-radio-group matInput #input *ngIf="showAllGoals" [(ngModel)]="goalStatus" (change)="loadService()" class="status-radio-group">
              <mat-radio-button id="allStatus" value="all">All</mat-radio-button>
              <mat-radio-button id="complete" value="true">Complete</mat-radio-button>
              <mat-radio-button id="incomplete" value="false">Incomplete</mat-radio-button>
          </mat-radio-group>
        </mat-card-content>
    </mat-card>
</div>
<div class="grid-list" hide-xs>
    <div layout="row" layout-wrap>
        <mat-card class="goal-card"
                  *ngFor="let goal of shownGoals | dateSort: 'start'"
                  #elem [id]="goal._id['$oid']">
            <mat-card-header>
                <div mat-card-avatar class="category-img business" *ngIf="goal.category == 'business-career'"></div>
                <div mat-card-avatar class="category-img family" *ngIf="goal.category == 'family'"></div>
                <div mat-card-avatar class="category-img finances" *ngIf="goal.category == 'finances'"></div>
                <div mat-card-avatar class="category-img fun-recreation" *ngIf="goal.category == 'fun-recreation'"></div>
                <div mat-card-avatar class="category-img health" *ngIf="goal.category == 'health'"></div>
                <div mat-card-avatar class="category-img personal-development" *ngIf="goal.category == 'personal-development'"></div>
                <div mat-card-avatar class="category-img romance" *ngIf="goal.category == 'romance'"></div>
                <div mat-card-avatar class="category-img spiritual" *ngIf="goal.category == 'spiritual'"></div>
                <div mat-card-avatar class="category-img social" *ngIf="goal.category == 'social'"></div>
                <div mat-card-avatar class="category-img other" *ngIf="goal.category == 'other'"></div>
                <mat-card-title class="goal-title break-word">{{goal.name}}</mat-card-title>
                <button mat-icon-button class="check action-button"
                        *ngIf="goal.status == false"
                        (click)="editGoal(goal._id['$oid'], goal.name, goal.purpose, goal.category, true, goal.frequency, goal.start, goal.end, goal.next)">
                    <mat-icon>check_box_outline_blank</mat-icon>
                </button>
                <button mat-icon-button class="uncheck action-button"
                        *ngIf="goal.status == true"
                        (click)="editGoal(goal._id['$oid'], goal.name, goal.purpose, goal.category, false, goal.frequency, goal.start, goal.end, goal.next)">
                    <mat-icon>check_box</mat-icon>
                </button>
                <mat-card-subtitle class="date-subtitle" *ngIf="goal.end == ''">No end date</mat-card-subtitle>
                <mat-card-subtitle class="date-subtitle" *ngIf="goal.end != ''">Ends on {{goal.end | date : "MMM d, yyyy"}}</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="goal-info break-word">
                <div class="journal-action-buttons">
                    <button mat-icon-button class="edit"
                            (click)="openEditGoalDialog(goal._id['$oid'], goal.purpose, goal.category, goal.name, goal.status, goal.frequency)">
                        <mat-icon>create</mat-icon>
                    </button>
                    <button mat-icon-button class="delete"
                            (click)="deleteGoal(goal._id['$oid'])">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <p *ngIf="goal.frequency != 'Does not repeat'">This is a {{goal.frequency | lowercase}} goal</p>
                <p *ngIf="goal.frequency == 'Does not repeat'">This goal does not repeat</p>
                <p>{{goal.purpose}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
