.main-top {
    height: 100px;
    color: white;
    background-color: #ee6e73;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 100px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.whole-body {
    background-color: #6C648B;
}

.createGoal {
    padding-top: 10px;
    padding-left:10px;
    width: 10%;
    text-align: center;

}

#add-icon{
    font-size: 80%;
}

.goal-button{
}

.goal-title {
    font-size: 32px;
}

.goal-content {
    list-style-type: none;
    font-size: 21px;

}

.second-sec {
    width: 100%;

}

.your-goals-title {
    text-align: center;

}

#add-icon {
    color: forestgreen;
}

#edit-icon {
    color: lightseagreen;
}

#delete-icon {
    color: red;
}

.goal-button {
    font-size: 25px;
}

#your-goals {
    font-size: 32px;
}

.goals{
    width: 30%;
    display: inline-block;
    text-align: center;
    background-color: silver;
    border-width: 2px;
    border-color: black;
    border-style: solid;

}

#editButton{
    text-align: right;
}

#mainCard{
    border-width: 5px;
    border-color: black;
    border-style: solid;
}
