<body class="whole-body">
<header>
    <div class ="main-top">Goals</div>
</header>

<main>
    <div layout="column">

    <!-- Managing Goals Card -->
        <div class="first-sec">
        <mat-card> <mat-card-title class="goal-title">Managing Goals</mat-card-title>
            <mat-card-subtitle class="goal-subtitle"></mat-card-subtitle>
            <mat-card-content class="goal-content">
                <li class="content-item" id="addNewGoal"><button mat-raised-button (click)="openDialog()" class="goal-button"><mat-icon id="add-icon">add</mat-icon>Create</button></li>
                <br>
                <!--<li class="content-item"><button mat-raised-button class="goal-button"><mat-icon id="edit-icon">create</mat-icon>Edit</button></li>
                <br>
                <li class="content-item"><button mat-raised-button class="goal-button"><mat-icon id="delete-icon">delete_forever</mat-icon>Delete</button></li>-->
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Your Goals Section -->
        <div class="second-sec">
        <mat-card> <mat-card-title class="your-goals-title">Your Goals</mat-card-title>
            <mat-card-subtitle class="your-goals-subtitle">All of your goals are displayed here.</mat-card-subtitle>
            <mat-accordion *ngIf="goals; else goalsError" >
                <mat-expansion-panel #elem class="goals" [id]="goal.goal" [expanded]="this.isHighlighted(goal)" *ngFor="let goal of this.filterGoals(goalGoal, goalCategory, goalName)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{goal.name}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Purpose of this goal: {{goal.goal}}</mat-panel-description>
                    <mat-panel-description>Category: {{goal.category}}</mat-panel-description>
                </mat-expansion-panel>
            </mat-accordion>
            <ng-template #goalsError>
                <mat-error>
                    There was a problem loading the goals. Possibly the server is down or perhaps there are network
                    issues.
                </mat-error>
                <mat-error>
                    Please wait a bit and try again or start the server.
                </mat-error>
            </ng-template>
        </mat-card>
    </div>
    </div>
</main>
</body>




<!--<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">

        <mat-card>
            <mat-card-title id="goals-title">Goals!</mat-card-title>
            <mat-card-subtitle>this is a card, for goals.</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
                card content, for gooooooools
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title id="goals-card">Goals!</mat-card-title>
            <mat-card-subtitle>this is a card, for goals.</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
                card content, for gooooooools
            </mat-card-content>
        </mat-card>
    </div>
</div>-->
