<div layout='row' layout-sm="column" layout-xs="column">
    <div class="phone-div container">
    <mat-card class="phone-numbers card">
        <mat-card-title class="numbers title">{{this.numberTitle}}</mat-card-title>
        <mat-card-subtitle>Hotlines for calling and texting.</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-list>
            <h3 mat-subheader>Calling</h3>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let callNumber of defaultCallNumbers">
                <h4 mat-line>{{callNumber.name}}</h4>
                <a href="tel:{{callNumber.number}}" mat-line>{{callNumber.number}}</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Texting</h3>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let textNumber of defaultTextNumbers">
                <h4 mat-line>{{textNumber.name}}</h4>
                <a href="tel:{{textNumber.number}}" mat-line>{{textNumber.number}}</a>
            </mat-list-item>
        </mat-list>
    </mat-card>
    </div>
    <div class="main-div container">
    <mat-card class="main-card card">
        <mat-card-title class="videos title">{{this.videoTitle}}</mat-card-title>
        <mat-card-subtitle>YouTube video playlists.</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-list>
                <a mat-list-item *ngFor="let video of defaultVideos"
                   class="video link"
                   target="_blank"
                   href={{video.url}}>
                    <button mat-icon-button class="play-button">
                        <mat-icon matTooltip="Play" class="play-icon">play_arrow</mat-icon>
                    </button>
                    <h4 mat-line>{{video.name}}</h4>
                    <p mat-line>{{video.subname}}</p>
                </a>
            </mat-list>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="resources-div container">
    <mat-card class="resources-card card">
        <mat-card-title class="links title">{{this.linkTitle}}</mat-card-title>
        <mat-card-subtitle>Visit a page for personal help.</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-list>
                <a mat-list-item *ngFor="let link of defaultLinks"
                   class="resource link"
                   target="_blank"
                   href={{link.url}}>
                    <button mat-raised-button class="link-button">
                        {{link.name}}
                    </button></a>
            </mat-list>
        </mat-card-content>
    </mat-card>
    </div>
</div>
