#phone-icon {
    color: forestgreen;
    vertical-align: bottom;
    font-size: 28px
}

.title {
    font-size: 24px;
    text-align: center;
}

.phone-numbers-list {
    font-size: 22px;
}

.little-phone-icon {
    color: forestgreen;
}

.link {
    text-decoration: none;
}

.link-button:hover {
    background-color: #E3F2FD;
}

.card {
    width: 300px;
    margin: 0 auto;
}

.container {
    margin: 15px;
}

.play-button:hover {
    background-color: #FFEBEE;
}

.play-icon {
    color: #C62828;
}

.main {
    margin: 0 auto;
}
