.main-top {
    height: 100px;
    color: white;
    background-color: #ee60eb;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 100px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.whole-body {
    background-color: #e6e5ee;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

#phone-icon {
    color: forestgreen;
    vertical-align: bottom;
    font-size: 28px
}

.phone-numbers-title {
    font-size: 24px;
    text-align: center;
}

.best-div {
    padding: 25px;
    background-color: transparent;
}

#phone-numbers-subtitle {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 8px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    color: black;
    text-align: justify;
}

.phone-numbers-list {
    font-size: 22px;
}

.bullet-icon {
    color: #202050;
    vertical-align: bottom;
}

.phone-numbers-to-call {
    margin: 10%;
    font-style: oblique;
}

.actual-phone-number {
    color: rgba(0, 0, 179, 0.9);
    font-size: 24px;
}

.little-phone-icon {
    color: forestgreen;
}

.hotline-company-name {
    margin: 10%;
}

#breathing{
    max-width: 100%;
}


