<div layout='row' layout-sm="column" layout-xs="column">
    <div class="phone-div container">
    <mat-card class="phone-numbers card">
        <mat-card-title class="numbers title"><mat-icon id="phone-icon">phone</mat-icon>Phone Numbers</mat-card-title>
        <mat-card-subtitle>If you feel that you are in need of any sort of assistance,
        you can refer to one of these hotlines for help.</mat-card-subtitle>
            <mat-expansion-panel #elem class="phone-numbers-to-call">
                <mat-expansion-panel-header>
                    <mat-panel-title class="hotline-company-name">Suicide Prevention Lifeline</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>We can all help prevent suicide. The Lifeline provides 24/7,
                    free and confidential support for people in distress, prevention and crisis
                    resources for you or your loved ones, and best practices
                    for professionals.</mat-panel-description>
                <mat-panel-description class="actual-phone-number"><mat-icon class="little-phone-icon">phone</mat-icon> 1-800-273-8255</mat-panel-description>
            </mat-expansion-panel>
        <mat-expansion-panel #elem class="phone-numbers-to-call">
            <mat-expansion-panel-header>
                <mat-panel-title class="hotline-company-name">Crisis Hotline</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Crisis Call Center’s 24-hour crisis line often
                serves as the first point of contact for individuals who are seeking
                help, support, and information. Crisis can affect anyone at any time.
                The need for emotional support or referral assistance is something most
                individuals encounter at some point in their lives.</mat-panel-description>
            <mat-panel-description class="actual-phone-number"><mat-icon class="little-phone-icon">phone</mat-icon> 775-784-8090</mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel #elem class="phone-numbers-to-call">
            <mat-expansion-panel-header>
                <mat-panel-title class="hotline-company-name">Crisis Text Line</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Free, 24/7 support for people in crisis. Every texter
                is connected with a Crisis Counselor, a real-life human being trained to
                bring texters from a hot moment to a cool calm through active listening
                and collaborative problem solving. All of our Crisis Counselors are volunteers,
                donating their time to helping people in crisis.</mat-panel-description>
            <mat-panel-description class="actual-phone-number"><mat-icon class="little-phone-icon">message</mat-icon> 741741</mat-panel-description>
        </mat-expansion-panel>
    </mat-card>
    </div>
    <div class="main-div container">
    <mat-card class="main-card card">
        <mat-card-title class="videos title">{{this.videoTitle}}</mat-card-title>
        <mat-card-subtitle>YouTube video playlists.</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-list>
                <a mat-list-item class="video link"
                   target="_blank"
                   href="https://www.youtube.com/embed/videoseries?list=PLJmTiSHMC37AO-nqegk5cEwS1ElAoQLNr">
                    <button mat-icon-button class="play-button">
                        <mat-icon matTooltip="Play" class="play-icon">play_arrow</mat-icon>
                    </button>
                    <h4 mat-line>Funny</h4>
                    <p mat-line>Cats, Dogs, & Babies</p>
                </a>
                <a mat-list-item class="video link"
                   target="_blank"
                   href="https://www.youtube.com/embed/videoseries?list=PLJmTiSHMC37CvQMRHaqg-6yEQpLWjAdWu&index=2">
                    <button mat-icon-button class="play-button">
                        <mat-icon matTooltip="Play" class="play-icon">play_arrow</mat-icon>
                    </button>
                    <h4 mat-line>Depression</h4>
                    <p mat-line>Rejection, Suicide, & More</p>
                </a>
                <a mat-list-item class="video link"
                   target="_blank"
                   href="https://www.youtube.com/embed/videoseries?list=PLJmTiSHMC37D36KCVAns9LYvh1BV4m6YX">
                    <button mat-icon-button class="play-button">
                        <mat-icon matTooltip="Play" class="play-icon">play_arrow</mat-icon>
                    </button>
                    <h4 mat-line>Satisfying</h4>
                    <p mat-line>Relaxing & More</p>
                </a>
                <a mat-list-item class="video link"
                   target="_blank"
                   href="https://www.youtube.com/embed/videoseries?list=PLJmTiSHMC37Dx6Ohz5al_e1GljuZqvZ_M">
                    <button mat-icon-button class="play-button">
                        <mat-icon matTooltip="Play" class="play-icon">play_arrow</mat-icon>
                    </button>
                    <h4 mat-line>Anger Management</h4>
                    <p mat-line>Techniques & Tips</p>
                </a>
                <a mat-list-item class="video link"
                   target="_blank"
                   href="https://www.youtube.com/embed/videoseries?list=PLJmTiSHMC37BVBh18FtFKX-fEEroV6tQ9&index=8">
                    <button mat-icon-button class="play-button">
                        <mat-icon matTooltip="Play" class="play-icon">play_arrow</mat-icon>
                    </button>
                    <h4 mat-line>Anxiety</h4>
                    <p mat-line>Dealing with negative thoughts</p>
                </a>
            </mat-list>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="resources-div container">
    <mat-card class="resources-card card">
        <mat-card-title class="links title">{{this.linkTitle}}</mat-card-title>
        <mat-card-subtitle>Visit a page for personal help.</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-list>
                <a mat-list-item class="resource link"
                   target="_blank"
                   href="https://depression.org.nz/get-better/self-help/">
                    <button mat-raised-button class="link-button">
                        Depression Help
                    </button></a>
                <a mat-list-item class="resource link"
                   target="_blank"
                   href="https://www.helpguide.org/articles/depression/coping-with-depression.htm">
                    <button mat-raised-button class="link-button">
                        Coping With Depression
                    </button></a>
                <a mat-list-item class="resource link"
                   target="_blank"
                   href="https://adaa.org/tips-manage-anxiety-and-stress">
                    <button mat-raised-button class="link-button">
                        Mange Anxiety and Stress
                    </button></a>
                <a mat-list-item class="resource link"
                   target="_blank"
                   href="https://www.calmclinic.com/anxiety-guide/help-options">
                    <button mat-raised-button class="link-button">
                        Anxiety Help
                    </button></a>
                <a mat-list-item class="resource link"
                   target="_blank"
                   href="https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/anger-management/art-20045434">
                    <button mat-raised-button class="link-button">
                        Anger Management: 10 Tips
                    </button></a>
                <a mat-list-item class="resource link"
                   target="_blank"
                   href="https://www.mindtools.com/pages/article/newTCS_97.htm">
                    <button mat-raised-button class="link-button">
                        Anger Management
                    </button></a>
            </mat-list>
        </mat-card-content>
    </mat-card>
    </div>
</div>
