@import "../../theme";
@import "../../styles";


.numbers-list {
    margin-left: 285px;
    width: 350px;
}

.videos-list {
    width: 350px;
}

.mobile-view {
    margin-top: 15px;
}

.resource-options {
    font-size: 20px;
}

.radio-group {
    margin-bottom: 13px;
}

.new-object-button-mobile {
    margin: 0 auto;
}

.new-button {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
