<div class="sidenav">
    <h2 class="nav-journals-title">Journals</h2>
    <hr class="nav-title-divider">
    <button mat-raised-button (click)="openAddJournalDialog()" class="add-journal-button" id="addNewJournal">
        New Journal
    </button>
    <mat-card class="filter-fields">
        <mat-form-field class="example-form-field">
            <input matInput placeholder="Search titles" [(ngModel)]="journalTitle"/>
            <button mat-button *ngIf="journalTitle" matSuffix mat-icon-button aria-label="Clear" (click)="journalTitle=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="example-form-field">
            <input matInput placeholder="Search content" [(ngModel)]="journalContent"/>
            <button mat-button *ngIf="journalContent" matSuffix mat-icon-button aria-label="Clear" (click)="journalContent=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-card>

<!--    <mat-card class="manage-journals-card">
        <mat-card-title id="journal-title">Your Journals</mat-card-title>
        <mat-card-subtitle class="journal-subtitle">Journals can help you
            track daily activities in your life.
        </mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content class="journal-content">
                <button mat-raised-button (click)="openAddJournalDialog()" class="add-journal-button" id="addNewJournal">
                    <mat-icon id="add-icon">add</mat-icon>
                    Add a Journal</button>
            <div class="filter-fields">
            <mat-form-field id="journal-title-field">
                <input matInput id="journalTitle" #input placeholder="Filter by title" (input)="journalTitle = $event.target.value">
            </mat-form-field>
            <mat-form-field>
                <input matInput id="journalContent" #input placeholder="Filter by content" (input)="journalContent = $event.target.value">
            </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>-->
</div>
<div class="grid-journals-section">
    <div layout="row" layout-wrap>
        <mat-card class="journals-card"
                  *ngFor="let journal of filterJournals(journalTitle, journalContent, journalDate) | dateSort: '-date'"
                  #elem [id]="journal._id['$oid']">
            <div class="journals-card-info">
                <mat-card-content class="journal-info">
                    <mat-card-title class="journal-name">
                        {{journal.title}}
                        <button mat-icon-button class="edit-journal action-button"
                                (click)="openEditJournalDialog(journal._id['$oid'], journal.title, journal.content, journal.date)">
                            <mat-icon matTooltip="Edit">mode_edit</mat-icon>
                        </button>
                        <button mat-icon-button class="delete-journal action-button"
                                (click)="deleteJournal(journal._id['$oid'])">
                            <mat-icon matTooltip="Delete">delete</mat-icon>
                        </button>
                    </mat-card-title>
                    <mat-card-subtitle class="date-subtitle">
                        {{journal.date | date : "MMM d, yyyy 'at' h:mm a"}}
                    </mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <p *ngIf="journal.content.length > 100">
                        {{journal.content | slice : 0:100}}
                        <a (click)="showMoreInfoDialog(journal.content)">
                            <button class="show-more-button">
                                ...show more
                            </button>
                        </a>
                    </p>
                    <p *ngIf="journal.content.length <100">
                        {{journal.content}}
                    </p>
                </mat-card-content>
            </div>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

