.sidenav {
    height: 100%;
    width: 275px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
    background-color: #546E7A;
}

.add {
    width: 50%;
    margin-bottom: 15px;
}

.add:hover {
    background-color: #C8E6C9;
}

.filter-fields {
    font-size: 14px;
    width: 90%;
    padding-top: 15px;
    margin: 0 auto;
}

.prompts {
    width: 90%;
    height: 175px;
    margin: 0 auto;
    margin-top: 15px;
}

.grid-list {
    margin-left: 275px;
}

.journals-section {
    margin: 0 auto;
    max-width: 500px;
}

.journal-card {
    margin: 15px;
    width: 325px;
    height: 200px;
}

.journal-card:hover {
    transform: scale(1.05);
}

.journal-title {
    text-align: left;
    font-size: 18px;
}

.break-word {
    word-wrap: break-word;
}

.nav-journals-title {
    margin: 15px;
    color: white;
    font-size: 34px;
}

.add-journal-fab-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.prompts-popup-mobile{
    position: fixed;
    bottom: 25px;
    left: 25px;

}

.journals-mobile-search {
    width: 100%;
    margin-bottom: -20px;
}



.journal-card-open {
    text-decoration: none;
    color: black;
}

