.first-sec {
    width: 320px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.journal-name {
    text-align: left;
    font-size: 18px;
}

#add-icon {
    color: forestgreen;
}

.filter-fields {
    font-size: 14px;
}

.edit-journal-button {
    color: #00838F;
    margin-bottom: -16px;
    padding-bottom: 0;
}

.journals-section {
    margin: 0 auto;
    max-width: 500px;
}

.journals-card {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 325px;
}
