.first-sec {
    width: 320px;
    margin: 0 auto;
}

.journal-name {
    text-align: left;
    font-size: 18px;
}

.add-journal-button {
    width: 90%;
    margin-bottom: 15px;
}

.add-journal-button:hover {
    background-color: #C8E6C9;
}

.filter-fields {
    font-size: 14px;
    width: 90%;
    padding-top: 15px;
    margin: 0 auto;
}

#journalTitle {
    color: white;
}

.journal-info {
    word-wrap: break-word;
}

.action-button {
    float: right;
}

.delete-journal {
    color: #F44336;
}

.delete-journal:hover {
    background-color: #FFEBEE;
}

.edit-journal {
    color: #00838F;
}

.edit-journal:hover {
    background-color: #E0F7FA;
}

.journals-section {
    margin: 0 auto;
    max-width: 500px;
}

.journals-card {
    margin: 15px;
    width: 325px;
    height: 200px;
}

.show-more-button {
    padding: 0;
    border: none;
    background: none;
    color: #0D47A1;
}

.show-more-button:hover {
    background-color: #BBDEFB;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
    background-color: #546E7A;
}

.grid-journals-section {
    margin-left: 250px;
}

.nav-journals-title {
    margin: 15px;
    color: white;
    font-size: 34px;
}

.add-journal-fab-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.journals-mobile-search {
    width: 100%;
    margin-bottom: -20px;
}

.prompt-card {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}
