
<div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>That's awesome!!!.</mat-card-title>
            <br>

            <mat-divider></mat-divider>

            Here's a panda video from us to you!

            <br>

            <div class="container">
                <iframe id="responseVideoFrame"
                        src="https://www.youtube.com/embed/YKw77QjoG9k"
                        frameborder="0"
                        allowfullscreen
                        class="video"></iframe>
            </div>

                <br>

                <mat-divider></mat-divider>
            <br>
                <button mat-raised-button id="exitButton" (click)="onExitClick()" type="button">Exit</button>

            <mat-divider></mat-divider>

        </mat-card>

</div>
