.main-top {
    height: 100px;
    color: white;
    background-color: lightskyblue;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 100px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#title {
    text-align: center;
    font-size: 60px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    background-color: whitesmoke;
    max-width: 75%;
    margin: 0 auto;
}

.entryButtons{
    text-align:center;
    padding: 1%;
}

.slider{
    width: 250px;
}

#emojiSource{
    font-size: 10px;
}

#copyright{
    text-align: right;
}

.stepperButtons{
    text-align: center;
    padding-bottom: 10px;
}

.on {
    background-color: #C8E6C9;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
}

.emotion-img {
    margin: 0 auto;
    padding: 10px;
}

.emotion-selection {
    padding-bottom: 1%;
    /*padding-bottom: 40px;*/
    text-align: center;
}

.how-are-you {
    text-align: center;
    font-size: 25px;
}

.i-feel {
    text-align: center;
    font-size: 25px;
}

.text-description {
    text-align: center;
    font-size: 25px;
}

.selected-emoji {
    margin: 0 auto;
    padding: 10px;
    width: 100px;
}

.next-button:hover {
    background-color: #E0E0E0;
}

.emotion-intensity {
    text-align: center;
    font-size: 25px;
}

.text-info {
    text-align: center;
}

.text-form-field {
    width: 100%;
}

.container {
    position:relative;
    padding-bottom: 54%; /*use to be 56.25 but that caused scrolling. 54% does not*/
    height:0;
    overflow:hidden;
}

.container iframe, .container object, .container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.submit-button {
    background-color: #E8F5E9;
}

.restartButton {
    text-align: center;
    padding-bottom: 3%;
}
