<body class="whole-body">
<header>
    <div class ="main-top">{{this.title}}</div>
</header>
<br>
<div layout-gt-sm="row" class="main-bg">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
            <mat-card-title id="hello-world">Friendly Panda</mat-card-title>
            <br>
        <mat-card class="page-buttons">
            <!--<mat-card-content>
            <button mat-button id="goals-button" [routerLink]="['/goals']" >Goals</button>
            <button mat-button id="resources-button" [routerLink]="['/resources']">Resources</button>
            </mat-card-content>-->
        </mat-card>
    </div>
</div>
</body>
