.emotion-button {
    margin: 0 auto;
    padding: 10px;
}

.emotion-intensity {
    text-align: center;
    font-size: 25px;
}
.emotion-selection {
    padding-bottom: 1%;
    text-align: center;
}

.how-are-you {
    text-align: center;
    font-size: 25px;
}

.iframe-container {
    position:relative;
    padding-bottom: 44%; /*responsible for video size*/
    height:0;
    overflow:hidden;
}

.iframe-container iframe, .iframe-container object, .iframe-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.im-feeling {
    text-align: center;
    font-size: 25px;
}

.intensity-slider{
    width: 250px;
}

.next-button:hover {
    background-color: #E0E0E0;
}

.on {
    background-color: #C8E6C9;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
}

.restart-button-div {
    text-align: center;
    padding-bottom: 3%;
}

.selected-emotion {
    margin: 0 auto;
    padding: 10px;
    width: 100px;
}

.sign-in-card {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 15px;
}

.sign-in-img {
    padding-bottom: 18px;
}

.sign-in-text-desktop {
    text-align: center;
    font-size: 24px;
}

.sign-in-text-mobile {
    text-align: center;
    font-size: 14px
}

.stepper-buttons {
    text-align: center;
    padding-bottom: 10px;
}

.submit-button {
    background-color: #E8F5E9;
}

.submit-button:hover {
    background-color: #E0E0E0;
}

.text-description {
    text-align: center;
    font-size: 25px;
}

.text-form-field {
    width: 100%;
}

.text-info {
    text-align: center;
}
