.main-top {
    height: 100px;
    color: white;
    background-color: lightskyblue;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 100px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#title {
    text-align: center;
    font-size: 60px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    background-color: whitesmoke;
    max-width: 75%;
    margin: 0 auto;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.journalEntry{
    text-align: center;

}

textarea{
    border:2px solid black;
    height: 30%;
    width: 50%;
}

textarea:focus {
    outline: none !important;
    border:2px solid #6C648B;
}

#mainCard{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    background-color: whitesmoke;
}

.entryButtons{
    text-align:center;
    padding: 1%;
}

.slider{
    width: 250px;
}

#emojiSource{
    font-size: 10px;
}

#copyright{
    text-align: right;
}

.stepperButtons{
    text-align: center;
    padding-bottom: 10px;
}

.on {
    background-color: #C8E6C9;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
}

.emotion-img {
    margin: 0 auto;
    padding: 10px;
}

.emotion-selection {
    padding-bottom: 40px;
    text-align: center;
}

.how-are-you {
    text-align: center;
    font-size: 25px;
}

.i-feel {
    text-align: center;
    font-size: 25px;
}

.selected-emoji {
    margin: 0 auto;
    padding: 10px;
    width: 100px;
}

.next-button:hover {
    background-color: #E0E0E0;
}

.emotion-intensity {
    text-align: center;
    font-size: 25px;
}
