<html>
<head>

</head>
<body>

<div *ngIf="currentScreenWidth < 806; then mobile else computer"></div>

<ng-template #computer >
    <div (window:resize)="onResize($event)"></div>



    <ul class="nav-things" >
        <li><a class="home" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>home</mat-icon> Home</a></li>
        <li><a class="goal" [routerLink]="['/goals']" routerLinkActive="active"><mat-icon>import_contacts</mat-icon> Goals</a></li>
        <li><a class="journal" [routerLink]="['/journals']" routerLinkActive="active"><mat-icon>book</mat-icon> Journals</a></li>
        <li><a class="resources" [routerLink]="['/resources']" routerLinkActive="active"><mat-icon>message</mat-icon> Resources</a></li>
        <li><a class="summary" [routerLink]="['/summary']" routerLinkActive="active"><mat-icon>assessment</mat-icon> Summary</a></li>
    </ul>

<router-outlet></router-outlet>

</ng-template>

<ng-template id="mobile" #mobile>

    <div (window:resize)="onResize($event)"></div>
    <ul class="nav-things" >
        <li><a class="home" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>home</mat-icon></a></li>
        <li><a class="goal" [routerLink]="['/goals']" routerLinkActive="active"><mat-icon>import_contacts</mat-icon></a></li>
        <li><a class="journal" [routerLink]="['/journals']" routerLinkActive="active"><mat-icon>book</mat-icon></a></li>
        <li><a class="resources" [routerLink]="['/resources']" routerLinkActive="active"><mat-icon>message</mat-icon></a></li>
        <li><a class="summary" [routerLink]="['/summary']" routerLinkActive="active"><mat-icon>assessment</mat-icon></a></li>

    </ul>

    <router-outlet></router-outlet>

</ng-template>





</body>
</html>


