@import "../theme";

.nav-drawer {
    .nav-active {
        background-color: mat-color($mat-grey, 100) !important;
        color: mat-color($accent) !important;
    }

    .nav-active mat-icon {
        color: mat-color($accent) !important;
    }
}

.signInButtonMobile{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25%;

}

.mobile-back {
    margin-left: -10px;
}

.divider {
    flex: 1 1 auto;
}
