@import "../theme";

.signInButtonMobile{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25%;

}

.default-style{

}

.dark-style{

}
.nav-drawer {
    .nav-active {
        background-color: mat-color($mat-grey, 100)!important;
        color: mat-color($accent) !important;
    }

    .nav-active mat-icon {
        color: mat-color($accent) !important;
    }
}
.nav-active mat-icon {
    color: mat-color($accent) !important;
}

.spacer {
    flex: 1 1 auto;
}

.mobile-back {
    margin-left: -10px;
}

.computer {
    font-size: 22px;
    font-weight: bold;
}

.home-img {
    height: 50px;
    width: 50px;
}
.desktop-title {
    border: solid 1px;
    border-radius: 3px;
}
