ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    font-size: 25px;
}

li a:hover {
    /* original color was 111*/
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

