ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 18px;
    text-decoration: none;
    font-size: 25px;
}

li a mat-icon{
    display: inline-block;
    vertical-align: middle;

}

li a:hover {
    /* original color was 111*/
    background-color: grey;
}

/*.active {
    background-color: #813772;
}*/

.home.active{
    background-color: #6C648B;
}

.goal.active{
    background-color: #813772;
}

.summary.active{
    background-color: #B6A19E;
}

.resources.active{
    background-color: #24305E;
}

.journal.active{
    background-color: #1E392A;
}



