@import "../theme";

.nav-drawer {
    .nav-active {
        background-color: mat-color($mat-grey, 100) !important;
        color: mat-color($accent) !important;
    }

    .nav-active mat-icon {
        color: mat-color($accent) !important;
    }
}

.computer {

}
