<body>
<div *ngIf="currentScreenWidth < 806; then mobile else computer"></div>
<ng-template #computer >
    <div (window:resize)="onResize($event)"></div>
    <ul class="nav-things" >
        <li><a class="home" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a class="goal" [routerLink]="['/goals']" routerLinkActive="active">Goals</a></li>
        <li><a class="journal" [routerLink]="['/journals']" routerLinkActive="active">Journals</a></li>
        <li><a class="resources" [routerLink]="['/resources']" routerLinkActive="active">Resources</a></li>
        <li><a class="summary" [routerLink]="['/summary']" routerLinkActive="active">Stats</a></li>
    </ul>
    <router-outlet></router-outlet>
</ng-template>
<ng-template id="mobile" #mobile>
    <div (window:resize)="onResize($event)"></div>
    <td-layout #layout>
        <td-navigation-drawer id="navBar"flex sidenavTitle="Menu" >
            <mat-nav-list class="side-nav-things">
                <a mat-list-item [routerLink]="['/']" (click)="layout.close()" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon>mood</mat-icon>Home</a>
                <a mat-list-item [routerLink]="['/goals']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon>playlist_add_check</mat-icon>Goals</a>
                <a mat-list-item [routerLink]="['/journals']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon><i class="material-icons">import_contacts</i></mat-icon>Journals</a>
                <a mat-list-item [routerLink]="['/resources']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon><i class="material-icons">contact_phone</i></mat-icon>Resources</a>
                <a mat-list-item [routerLink]="['/summary']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon><i class="material-icons">assessment</i></mat-icon>Stats</a>
            </mat-nav-list>
        </td-navigation-drawer>
        <td-layout-nav  toolbarTitle="Home" navigationRoute="/">
            <button mat-icon-button td-menu-button tdLayoutToggle>
                <mat-icon>menu</mat-icon>
            </button>
            <router-outlet></router-outlet>
        </td-layout-nav>
    </td-layout>
</ng-template>
</body>


