
<body class="whole-body">

<header>
    <!-- This allows for good mobile compatibility -->
    <!-- It might be nice to switch this over to CSS -->


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        .phone-div{
            float: left;
            width: 45%;
        }



        .resources-div{

            float: left;
            width: 55%;


        }

        .resources-card{
            background-color: lightyellow;
        }

        @media screen and (max-width: 600px) {
            .phone-div, .main-div, .resources-div{
                width: 100%;
            }
        }

    </style>
    <!-- Finish mobile compatibility -->

</header>

<main>
    <div layout='row' layout-xs="column" class="best-div">

        <!-- Phone Numbers Card -->
        <div class="phone-div">



            <mat-card> <mat-card-title class="journal-title">Managing Journals</mat-card-title>
                <mat-card-subtitle class="journal-subtitle"></mat-card-subtitle>
                <mat-card-content class="journal-content">
                    <li class="content-item" id="addNewJournal"><button mat-raised-button (click)="openDialog()" class="journal-button"><mat-icon id="add-icon">add</mat-icon>Add a Journal</button></li>
                    <br>
                </mat-card-content>
            </mat-card>


            <!-- Your Journals Section
                <div class="second-sec"> -->
            <mat-card> <mat-card-title class="your-journals-title">Your Journals</mat-card-title>
                <mat-card-subtitle class="your-journals-subtitle">All of your journals are displayed here.</mat-card-subtitle>
                <mat-accordion *ngIf="journals; else journalsError" >
                    <mat-expansion-panel #elem class="journals" [id]="journal.title" [expanded]="this.isHighlighted(journal)" *ngFor="let journal of this.filterJournals( journalCategory)">
                        <mat-expansion-panel-header>
                            <mat-panel-title id="title">{{journal.title}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-panel-description><Strong>Body: </Strong>{{journal.body}}</mat-panel-description>
                    <!--    <mat-panel-description>Date: {{journal.time}}</mat-panel-description>
                        <mat-panel-description><Strong>Category:</Strong> {{journal.category}}</mat-panel-description>  -->
                        <mat-panel-description><Strong>Link to the source:</Strong> <a href="{{journal.link}}"> Click Here</a></mat-panel-description>
                    </mat-expansion-panel>




                </mat-accordion>
                <ng-template #journalsError>
                    <mat-error>
                        There was a problem loading the journals. Possibly the server is down or perhaps there are network
                        issues.
                    </mat-error>
                    <mat-error>
                        Please wait a bit and try again or start the server.
                    </mat-error>
                </ng-template>
            </mat-card>

        </div>




        <!-- Links Card -->
        <div class="resources-div">
            <mat-card class="resources-card">
                <mat-card-title id="resources-title">Journals You May Like</mat-card-title>
                <mat-card-subtitle>While most journals require pricy subscriptions to access their content, there are several prominent,
                  <br>  reputable mental health journals that publish all their articles free online.</mat-card-subtitle>
                <mat-card-content>
                    <a href="http://www.asanet.org/research-and-publications/journals/society-and-mental-health">
                        <img border="0" alt="W3Schools" src="../../assets/images/Journals/mental_health.png" width="90%" height="350px">
                    </a>

                    <br>

                    <a href="https://link.springer.com/journal/10597">
                        <img border="0" alt="W3Schools" src="../../assets/images/Journals/community.png" width="90%" height="300px">
                    </a>
<br>
                    <p> Links to other Journals that you  may link.</p>
                    <br>

                    <a href="https://www.tandfonline.com/toc/rhpb20/current" target="_blank">Health Psychology and Behavioral Medicine | Publisher: Taylor & Francis

                    </a>
                    <br>
                    <a href="https://www.frontiersin.org/journals/psychology" target="_blank">Frontiers in Psychology |
                        Publisher: Frontiers</a>
                    <br>

                    <a href="https://ijmhs.biomedcentral.com/" target="_blank">International Journal of Mental Health Systems
                        | Publisher: Biomed Central</a>
                    <br>
                    <a href="http://enlightenmentportal.com/development/self-esteem-building-activities/" target="_blank">Mental health evidence and research (MER) | Publisher: World health Organization</a>




                    <br>

                    <a href="https://capmh.biomedcentral.com/" target="_blank">Child and Adolescent Psychiatry and Mental Health
                        | Publisher: Biomed Central</a>


                    <br>

                    <a href="https://bmcpsychiatry.biomedcentral.com/" target="_blank">BMC Psychiatry
                        | Publisher: BioMed Central</a>
                    <br>





                    <mat-divider></mat-divider>


                </mat-card-content>
            </mat-card>
        </div>

    </div>
</main>
</body>
