
.main-top {
    height: 100px;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 100px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.whole-body {
    background-color: lightgray;

}

.add-journal{
    width: 50%;
}



.first-sec {


    width: 30%;
    left: 0px;
}





#edit-icon {
    color: lightseagreen;
}

#delete-icon {
    color: red;
}

.goal-button {
    font-size: 25px;
}


