<body class="whole-body">
<header>
    <div class ="main-top" id="journal-main-title">Journals</div>
</header>

<main>
    <div layout="column">

    <!-- Managing Journals Card -->
        <div class="first-sec">
        <mat-card> <mat-card-title class="journal-title">Managing Journals</mat-card-title>
            <mat-card-subtitle class="journal-subtitle"></mat-card-subtitle>
            <mat-card-content class="journal-content">
                <li class="content-item" id="addNewJournal"><button mat-raised-button (click)="openDialog()" class="journal-button"><mat-icon id="add-icon">add</mat-icon>Add a Journal</button></li>
                <br>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Your Journals Section -->
        <div class="second-sec">
        <mat-card> <mat-card-title class="your-journals-title">Your Journals</mat-card-title>
            <mat-card-subtitle class="your-journals-subtitle">All of your journals are displayed here.</mat-card-subtitle>
            <mat-accordion *ngIf="journals; else journalsError" >
                <mat-expansion-panel #elem class="journals" [id]="journal.title" [expanded]="this.isHighlighted(journal)" *ngFor="let journal of this.filterJournals( journalCategory)">
                    <mat-expansion-panel-header>
                        <mat-panel-title id="title">{{journal.title}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Body: {{journal.body}}</mat-panel-description>
                    <mat-panel-description>Date: {{journal.time}}</mat-panel-description>
                    <mat-panel-description>Category: {{journal.category}}</mat-panel-description>
                    <mat-panel-description>Link to the source: {{journal.link}}</mat-panel-description>

                </mat-expansion-panel>
            </mat-accordion>
            <ng-template #journalsError>
                <mat-error>
                    There was a problem loading the journals. Possibly the server is down or perhaps there are network
                    issues.
                </mat-error>
                <mat-error>
                    Please wait a bit and try again or start the server.
                </mat-error>
            </ng-template>
        </mat-card>
    </div>

    </div>
</main>
</body>
