
    <div class="random-prompts-mob" layout-gt-sm="row">
        <div flex-gt-sm="80" flex-offset-gt-sm="10">
            <mat-card-title class="random-prompts-mob">Random Journal Prompts</mat-card-title>
            <mat-card class="prompts">
                <mat-card-title>
                    <button mat-raised-button (click)="randomPromptsMobile()" class="refresh action-button">
                        Journal Prompt
                    </button>
                </mat-card-title>
                <mat-card-content *ngIf="prompt == undefined">
                    Click for a prompt
                </mat-card-content>
                <mat-card-content>
                    {{prompt}}
                </mat-card-content>
            </mat-card>


            </div>
        <button mat-raised-button
                id="exitWithoutAddingButton"
                (click)="onNoClick()">Cancel
        </button>
        </div>


