<div [ngClass]="appService.styleClassSelector()">
        <mat-card class="phone-numbers card">
            <mat-card-title class="numbers title">Settings</mat-card-title>
            <mat-divider></mat-divider>
                <form>

                    <label class="text"> Font: </label>

                    <button mat-button class="arial"
                            (click)="this.font = 'arial'; saveSettings()">
                        Arial</button>

                    <button mat-button class="verdana"
                            (click)="this.font = 'verdana'; saveSettings()">
                        Verdana</button>

                    <button mat-button class="times-new-roman"
                            (click)="this.font = 'times-new-roman'; saveSettings()">
                        Times New Roman</button>

                    <button mat-button class="comic-sans"
                            (click)="this.font = 'comic-sans'; saveSettings()">
                        Comic Sans</button>


                    <br><br><br>
                    <label class="text"> BG Theme: </label>

                    <label class="theme-radio">
                    <input type="radio"
                           (click)="this.theme = 'panda'; saveSettings()">
                        <span class="radio-border"></span>
                        <span class="panda-main"></span>
                        <span class="panda-accent"></span>
                    </label>
                    <label class="theme-radio">
                        <input type="radio"
                           (click)="this.theme = 'windows95'; saveSettings()">
                        <span class="radio-border"></span>
                        <span class="win-main"></span>
                        <span class="win-accent"></span>
                    </label>
                    <label class="theme-radio">
                    <input type="radio"
                           (click)="this.theme = 'christmas2018'; saveSettings()">
                        <span class="radio-border"></span>
                        <span class="chr-main"></span>
                        <span class="chr-accent"></span>
                    </label>
                    <label class="theme-radio">
                        <input type="radio"
                               (click)="this.theme = 'aesthetic'; saveSettings()">
                        <span class="radio-border"></span>
                        <span class="aesth-main"></span>
                        <span class="aesth-accent"></span>
                    </label>
                    <br><br>
                    <button (click)="saveSettings()">Save</button>
                </form>

        </mat-card>

<div class="about-page">
 <mat-card>
     <mat-card-title class="numbers title">About</mat-card-title>
     <mat-divider></mat-divider>
    <div class="{credits, text}">
        Icons made by
        <a title="Freepik" href="http://www.freepik.com">Freepik</a>
        from
        <a title="Flaticon" href="http://www.flaticon.com">www.flaticon.com</a>
    </div>
 </mat-card>
</div>
</div>

