<div layout='row' layout-sm="column" layout-xs="column">
        <mat-card class="phone-numbers card">
            <mat-card-title class="numbers title">Settings</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card>
                <mat-card-subtitle>Customization</mat-card-subtitle>
                <form>
                    <label> Theme: </label>
                    <mat-select name="dropdownInt" class="summaryInt"
                                #input placeholder=""
                                [(ngModel)]="theme">
                        <mat-option class="md-option-6" selected value="0">Panda Blue (default)</mat-option>
                        <mat-option class="md-option-7" value="1">Toasty</mat-option>
                        <mat-option class="md-option-8" value="2">Toastier</mat-option>
                        <mat-option class="md-option-9" value="3">Christmas 2018</mat-option>
                        <mat-option class="md-option-10" value="4">Ford Model T</mat-option>
                        <mat-option class="md-option-11" value="5">A E S T H E T I C</mat-option>
                    </mat-select>
                </form>

            </mat-card>

        </mat-card>
</div>
<div class="about-page">
 <mat-card>
     <mat-card-title class="numbers title">About</mat-card-title>
     <mat-divider></mat-divider>
    <div class="credits">
        Icons made by
        <a title="Freepik" href="http://www.freepik.com">Freepik</a>
        from
        <a title="Flaticon" href="http://www.flaticon.com">www.flaticon.com</a>
    </div>
 </mat-card>
</div>
