<form #newJournalForm="ngForm">
    <div class="add-journal" layout-gt-sm="row">
        <div flex-gt-sm="80" flex-offset-gt-sm="10">
                <mat-card-title class="new-journal-title">New Journal</mat-card-title>
                <mat-card-content>
                       <!--  <p>Journal Prompts</p>

                    <button mat-icon-button class="Random-Generator"
                            (click)="deleteResource(resource._id['$oid'])">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-raised-button color="warn">Warn</button>-->
                    <mat-card-content>
                    <p> Click on the “refresh” button below to get a new journal prompt!</p>
                    </mat-card-content>
                      <div class="PromptsBox">
                      <p>{{prompt}}</p>
                      </div>

                    <button mat-raised-button id="newPrompt" (click)="RandomPrompt()" type="button">Refresh </button>

                    <mat-form-field hintLabel="Max 40 characters">
                        <input matInput #input required
                               maxlength="40"
                               id="titleField" placeholder="Title"
                               [(ngModel)]="data.journal.title"
                               name="data.journal.title">
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput #input required
                               id="contentField"
                               placeholder="Content"
                               [(ngModel)]="data.journal.content"
                               matTextareaAutosize matAutosizeMinRows="3"
                               matAutosizeMaxRows="7"
                                  name="data.journal.content"></textarea>
                    </mat-form-field>
                </mat-card-content>
            <div class="button-options">
                <button mat-raised-button
                        id="confirmAddJournalButton"
                        [mat-dialog-close]="data.journal"
                        [disabled]="!newJournalForm.form.valid"
                        type="button">Submit
                </button>
                <button mat-raised-button
                        id="exitWithoutAddingButton"
                        (click)="onNoClick()">Cancel
                </button>
            </div>
        </div>
    </div>
</form>
