#confirmAddJournalButton {
    background-color: #E8F5E9;
}
.prompt-show{
    background-color: #d64161;
    border: 2px;
    color: white;
}

.new-journal-title {
    text-align: center;
}

.button-options {
    text-align: center;
}
