<form #editGoalForm="ngForm" [ngClass]="appService.styleClassSelector()">
    <div class="edit-goal" layout-gt-sm="row">
        <div flex-gt-sm="80" flex-offset-gt-sm="10">
            <mat-card-title>Edit Goal</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <br>
                <mat-form-field hintLabel="Max 45 characters">
                    <input matInput #input maxlength="45"
                           required class="nameField" placeholder="What is your goal?"
                           [(ngModel)]="data.goal.name"
                           name="data.name.category">
                </mat-form-field>
                <br>
                <mat-select matInput required class="category-list"
                            #input [(ngModel)]="data.goal.category"
                            placeholder="Category" [style.width]="'100%'"
                            name="data.goal.category">

                    <mat-option value="Business/Career">Business/Career</mat-option>
                    <mat-option value="Family">Family</mat-option>
                    <mat-option value="Finances">Finances</mat-option>
                    <mat-option value="Fun and Recreation">Fun and Recreation</mat-option>
                    <mat-option value="Health">Health</mat-option>
                    <mat-option value="Personal Development">Personal Development</mat-option>
                    <mat-option value="Romance">Romance</mat-option>
                    <mat-option value="Spiritual">Spiritual</mat-option>
                    <mat-option value="Social">Social</mat-option>
                    <mat-option value="Other">Other</mat-option>
                </mat-select>
                <br>
                <br>
                <mat-form-field>
                    <input matInput #input class="purposeField"
                           hintLable="Max 100 characters"
                           maxlength="100"
                           placeholder="What is the purpose?"
                           [(ngModel)]="data.goal.purpose"
                           name="data.goal.purpose">
                </mat-form-field>

                <mat-form-field class="end">
                    <input
                        #input
                        class="endDate"
                        matInput [matDatepicker]="end"
                        placeholder="Choose an End Date"
                        [(ngModel)]="data.goal.end"
                        name="data.goal.end">
                    <mat-datepicker-toggle class="endButton" matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #end></mat-datepicker>
                </mat-form-field>

                <mat-select class="frequency-list" matInput #input required  hintLabel="Max 100 characters"
                            [(ngModel)]="data.goal.frequency" placeholder="Frequency"
                            maxlength="100" [style.width]="'100%'"
                            name="data.goal.frequency">
                    <mat-option value="Does not repeat">Does not repeat</mat-option>
                    <mat-option value="Daily">Daily</mat-option>
                    <mat-option value="Weekly">Weekly</mat-option>
                    <mat-option value="Monthly">Monthly</mat-option>
                </mat-select>
            </mat-card-content>
            <button mat-raised-button class="confirm-edit-goal-button"
                    [mat-dialog-close]="data.goal"
                    [disabled]="!editGoalForm.form.valid">Submit
            </button>
            <button mat-raised-button class="exitWithoutAddingButton"
                    (click)="onNoClick()">Cancel
            </button>
        </div>
    </div>
</form>


